### Setup

#### Load "dotenv" extension to use enviroment variables in the Notebook

In [2]:
%load_ext dotenv
%dotenv

#### Load required libraries

In [3]:
from sqlalchemy import create_engine, text, execute
import psycopg2 as ps
import pandas as pd
import os

#### Setup database connection

Make sure you create a `.env` file in the same directory as this notebook.

Your `.env` file should contain the definition of the following variables:
- DB_HOSTNAME
- DB_PORT
- DB_NAME
- DB_USER
- DB_PASS


Example:
```
DB_HOSTNAME = "localhost"
DB_PORT = 5432
DB_NAME = "retail_db"
DB_USER = "retail_user"
DB_PASS = "retailpassword"
```

In [12]:
DB_HOST = os.getenv("DB_HOSTNAME")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASS = os.getenv("DB_PASS")
    
DB_CONNECTION_URI = "postgresql://%s:%s@%s:%s/%s" % (DB_USER, DB_PASS, DB_HOST, DB_PORT, DB_NAME)

# Create SQL engine with SQLAlchemy
sql_engine = create_engine(DB_CONNECTION_URI)

> You can now execute queries to the database with pandas!

# Exercises - Filtering and Aggregation

Let us take care of exercises related to filtering and aggregations using SQL:

- Get all the courses which are in `inactive` or `draft` status.
- Get all the courses which are related to `Python` or `Scala`
- Get count of courses by `course_status`
- Get count of published courses by `course_author`
- Get all the `Python` or `Scala` related courses in `draft` status.
- Get the author and count where the author have more than **one published** course.

## Create and populate the table we are working with.

In [19]:
sql_engine.execute('DROP TABLE IF EXISTS courses')

sql_engine.execute('''
    CREATE TABLE courses(
        course_id SERIAL PRIMARY KEY,
        course_name VARCHAR(60),
        course_author VARCHAR(40),
        course_status VARCHAR(9),
        course_published_dt DATE
    )
''')

sql_engine.execute('''
    INSERT INTO courses
        (course_name, course_author, course_status, course_published_dt)
    VALUES
        ('Programming using Python', 'Bob Dillon', 'published', '2020-09-30'),
        ('Data Engineering using Python', 'Bob Dillon', 'published', '2020-07-15'),
        ('Data Engineering using Scala', 'Elvis Presley', 'draft', null),
        ('Programming using Scala', 'Elvis Presley', 'published', '2020-05-12'),
        ('Programming using Java', 'Mike Jack', 'inactive', '2020-08-10'),
        ('Web Applications - Python Flask', 'Bob Dillon', 'inactive', '2020-07-20'),
        ('Web Applications - Java Spring', 'Bob Dillon', 'draft', null),
        ('Pipeline Orchestration - Python', 'Bob Dillon', 'draft', null),
        ('Streaming Pipelines - Python', 'Bob Dillon', 'published', '2020-10-05'),
        ('Web Applications - Scala Play', 'Elvis Presley', 'inactive', '2020-09-30'),
        ('Web Applications - Python Django', 'Bob Dillon', 'published', '2020-06-23'),
        ('Server Automation - Ansible', 'Uncle Sam', 'published', '2020-07-05')
''')

## Solutions

**NOTE:** You can run queries using pandas and SQLAlchemy as it follows:

```python
sql_df = pd.read_sql_query(
    '''
        SELECT *
        FROM courses
        ORDER BY course_id;
    ''',
    con = sql_engine
)
 
# Show query results
sql_df
```

### Exercise 1

- Get all the courses which are in inactive or draft status.

In [ ]:
sql_df = pd.read_sql_query(
    '''
        YOUR QUERY HERE
    ''',
    con = sql_engine
)
 
# Show query results
sql_df

### Exercise 1

- Get all the courses which are related to `Python` or `Scala`

In [ ]:
sql_df = pd.read_sql_query(
    '''
        YOUR QUERY HERE
    ''',
    con = sql_engine
)
 
# Show query results
sql_df

### Exercise 3

- Get count of courses by `course_status`

In [ ]:
sql_df = pd.read_sql_query(
    '''
        YOUR QUERY HERE
    ''',
    con = sql_engine
)
 
# Show query results
sql_df

### Exercise 4

- Get count of published courses by `course_author`

In [ ]:
sql_df = pd.read_sql_query(
    '''
        YOUR QUERY HERE
    ''',
    con = sql_engine
)
 
# Show query results
sql_dfs

### Exercise 5

- Get all the `Python` or `Scala` related courses in `draft` status.

In [ ]:
sql_df = pd.read_sql_query(
    '''
        YOUR QUERY HERE
    ''',
    con = sql_engine
)
 
# Show query results
sql_df

### Exercise 6

- Get the author and count where the author have more than **one published** course.

In [ ]:
sql_df = pd.read_sql_query(
    '''
        YOUR QUERY HERE
    ''',
    con = sql_engine
)
 
# Show query results
sql_df